.App {
  min-height: 100vh;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.recipe-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recipe-card {
  /* background-color: rgb(246, 255, 206); */
  width: 22rem;
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  text-align: center;


}

.ingredients-list {
  height: 30vh;
  overflow: scroll;
}


.header {
  background-color: chocolate;
  display: flex;
  justify-content: space-between;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 50rem;
  padding: 0 10px;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  border: none;
  width: 5rem;
  padding: 10px;
}
.search-button:hover {
  background-color:#fff;
}

.logo {
  margin-bottom: 5px;
  margin-top: 10px;
  color: #fff;
  padding: 0 10px;
  font-family: 'Ranchers', cursive;
}